:root { 
--gray_500:#a098ae; 
--red_A200:#ff454f; 
--gray_101:#f5f5f5; 
--black_900_3f:#0000003f; 
--gray_300:#dadada; 
--gray_100:#f3f4ff; 
--indigo_500_19:#4d44b519; 
--teal_300:#4cbc9a; 
--bluegray_800:#363b64; 
--indigo_100:#c1bbeb; 
--black_900_23:#00000023; 
--yellow_700:#fcc43e; 
--indigo_500_36:#4d44b536; 
--deep_orange_300:#fb7d5b; 
--pink_A700_0c:#bf156c0c; 
--indigo_900:#303972; 
--indigo_500_63:#4d44b563; 
--white_A700:#ffffff; 
--indigo_500:#4d44b5; 
}